:root {
    --itemcolor: rgb(48, 48, 48);
    --bgcolor: snow;
    --containercolor: rgb(151, 215, 252);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes pop{
    50%  {transform: scale(1.2);}
  }

body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--bgcolor);
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    color: var(--bgcolor);
    box-shadow: 5px 5px var(--containercolor);
    background-color: var(--itemcolor);
    border-radius: 15px;
    font-size: 250%;
    padding: 10px;
    animation: fadeIn 2s;
}

span {
    font-weight: bold;
    font-size: x-large;
    animation: fadeIn 2s;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.button {
    background-color: var(--containercolor);
    color: var(--bgcolor);
    width: 100px;
    height: 50px;
    border: solid 1px rgb(202, 202, 202);
    border-radius: 10px;
    box-shadow: 5px 5px rgb(202, 202, 202);
    font-weight: bold;
    font-size: xx-large;
    transition: all .2s ease-in-out;
    animation: fadeIn 2s;
}


.button:hover {
    box-shadow: 5px 5px var(--itemcolor);
    color: var(--itemcolor);
    border: solid 1px var(--itemcolor);
    transform: scale(1.15);
    cursor: pointer;
}

#restartContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#restart {
    width: 140px;
}

.playerName {
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px rgb(202, 202, 202);
    animation: fadeIn 2s;
}

.submitName {
    border: none;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    background-color: var(--containercolor);
    transition: all .2s ease-in-out;
    animation: fadeIn 2s;
    font-size: large;
}

.submitName:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.message {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    animation: fadeIn 2s;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    border: solid 2px rgb(202, 202, 202);
    border-radius: 25px;
    background-color: var(--containercolor);
    box-shadow: 10px 15px rgb(202, 202, 202);
    transition: all .2s ease-in-out;
    animation: fadeIn 1s;
}

#gameContainer:hover {
    box-shadow: 10px 15px var(--itemcolor);
    border: solid 2px var(--itemcolor);
    transform: scale(1.05);
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 375px;
    width: 375px;
    animation: fadeIn 1s;
}

.cell {
    border: solid 2px var(--containercolor);
    border-radius: 7.5px;
    background-color: var(--itemcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bgcolor);
    font-size: 100px;
    padding: 0;
    margin: 0;
    animation: fadeIn 1.5s;
}

.cell:hover {
    background-color:rgb(77, 77, 77);
    cursor: pointer;
}