:root {
    --itemcolor: rgb(48, 48, 48);
    --bgcolor: snow;
    --containercolor: rgb(151, 215, 252);
}

body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--bgcolor);
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    color: var(--bgcolor);
    box-shadow: 5px 5px var(--containercolor);
    background-color: var(--itemcolor);
    border-radius: 15px;
    font-size: 300%;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: var(--containercolor);
    color: var(--bgcolor);
    width: 100px;
    height: 40px;
    border: solid 1px rgb(202, 202, 202);
    border-radius: 10px;
    box-shadow: 5px 5px rgb(202, 202, 202);
    font-weight: bold;
    font-size: larger;
    transition: all .2s ease-in-out;
}


.button:hover {
    box-shadow: 5px 5px var(--itemcolor);
    color: var(--itemcolor);
    border: solid 1px var(--itemcolor);
    transform: scale(1.15);
    cursor: pointer;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    border: solid 2px rgb(202, 202, 202);
    border-radius: 25px;
    background-color: var(--containercolor);
    box-shadow: 10px 15px rgb(202, 202, 202);
    transition: all .2s ease-in-out;
}

#gameContainer:hover {
    box-shadow: 10px 15px var(--itemcolor);
    border: solid 2px var(--itemcolor);
    transform: scale(1.05);
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 500px;
}

.cell {
    border: solid 2px var(--containercolor);
    border-radius: 7.5px;
    background-color: var(--itemcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bgcolor);
    font-size: 140px;
    padding: 0;
    margin: 0;
}

.cell:hover {
    background-color:rgb(77, 77, 77);
    cursor: pointer;
}